body {
  font-family: sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff9f9;
  color: #2d2d2d;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  max-width: 1300px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

nav {
  padding-right: 0;
  text-align: right;
}

.home-main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 10px auto 30px auto;
}

.home-main :first-child {
  margin: 0 auto;
  width: 100%;
}

.home-main :last-child {
  text-align: right;
  margin-top: 5px;
  text-decoration: none;
}

.home-main p {
  color: #2d2d2d;
}

h2 {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 3px solid #77867f;
}

a {
  color: #77867f;
}

a:hover {
  color: #c58882;
}

td {
  width: 800px;
  padding: 5px;
}

footer {
  background-color: #77867f;
  color: #fff9f9;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

footer img {
  width: 100px;
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dec {
  width: 600px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.intro {
  border-bottom: 3px solid #77867f;
  max-width: 925px;
}

.headshot {
  max-width: 250px;
  padding: 20px 15px 10px 15px;
  background-color: #fff9f9;
}

.skills {
  border-bottom: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
