body {
  font-family: sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff9f9;
  color: #2d2d2d;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  max-width: 1300px;
  margin: 0 auto;
}

.where img {
  max-width: 200px;
}

.where-container {
  display: grid;
  grid-template-columns: auto 250px 250px auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.where-container :first-child {
  grid-column: 2;
  place-self: center;
}

.where-container :last-child {
  grid-column: 3;
  place-self: center;
}

header a {
  text-decoration: none;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 400px; */
}

.skills li::before {
  content: "-";
  padding-right: 8px;
}

nav {
  padding-right: 0;
  text-align: right;
}

.home-main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 10px auto 30px auto;
}

.home-main :first-child {
  margin: 0 auto;
  width: 100%;
}

.home-main :last-child {
  text-align: right;
  margin-top: 5px;
  text-decoration: none;
}

.home-main p {
  color: #2d2d2d;
}

h2 {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 3px solid #77867f;
}

a {
  color: #77867f;
}

a:hover {
  color: #c58882;
}

/* .table-layout td {
  width: 800px;
  padding: 5px;
} */

footer {
  background-color: #77867f;
  color: #fff9f9;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

footer img {
  width: 100px;
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dec {
  width: 600px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.intro {
  border-bottom: 3px solid #77867f;
  max-width: 925px;
}

.headshot {
  max-width: 250px;
  padding: 20px 15px 10px 15px;
  background-color: #fff9f9;
}

.skills {
  border-bottom: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-content: space-between;
  width: 1110px;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 15px 0 50px 0;
}

#form-container div {
  display: flex;
  padding-bottom: 10px;
}

#form-container label,
#form-container button {
  width: 75px;
}

#form-container input,
#form-container textarea {
  width: 425px;
}

#form-container button {
  padding: 3px;
  margin-left: 75px;
}
